{% extends "base.html" %}
{% block body %}
<style>
    body{
        padding: 1%;
    }
    .img_div{
        margin: 3%;
    }
    .newsbox{
        display: flex;
        border: 3px solid black;
        margin: 1%;
    }
</style>
    <h1>Today's news</h1>
    {% for news in cases.articles %}
        <div class="newsbox">
            <div class="img_div">
                <img src="{{news.urlToImage}}" alt="no image found" height="270rem" >
            </div>
            <div class="main_news">
                <h4>{{news.title}}</h4>
                <h5>Content:- {{news.content}}</h5>
                <a href="{{news.url}}">Read More</a>
                <h6>{{news.description}}</h6>
                <h6>Publish Date:-{{news.publishedAt}}</h6>
                
            </div>
        </div>
    {% endfor %}
{% endblock body %}
